body{
    background-color: #DFC5FE;
    width: 100%;
    margin: auto;
}

header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    border-bottom: 2px solid #2C2C54;
}

.logoNav a img{
    height: 18vh;
    padding-left: 30%;
}

.textNav{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.textNav a{
    text-decoration: none;
    font-size: 4vw;
    font-family: "Bellefair", serif;
   
}

.accountNav{
display: flex;
justify-content: center;
gap: 40px;
}

.accountNav a i{

    padding-right: 30%;
}