body{
    background-color: #DFC5FE;
    width: 100%;
    margin: auto;
}

header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    border-bottom: 2px solid #2C2C54;
}

.logoNav a img{
    height: 18vh;
}

.textNav{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.textNav a{
    text-decoration: none;
    font-size: 4vw;
    color: #2C2C54;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px #1b1b3a;
}

.accountNav{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #1b1b3a;
}

.accountNav a{
    text-decoration: none;
    color: inherit;
    text-shadow: 3px 3px 5px #1b1b3a;
}

.slideShow{
    width: 85%;
    margin: auto;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.slider img{
    width: 100%;
    display: none;
    height: 60vh;
}

img.displaySlide{
    display: flex;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}

.collection{
    width: 85%;
    margin: auto;
}

.subTitle{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPicks{
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FF6F61;
    text-shadow: 2px 2px 5px #1b1b3a;
    margin: 0;
}

#resizeShirt{
    width: 21vw;
}

#resizeHoodie{
  width: 30vw;
}

.borderBreak{
    border-bottom: 2px solid #2C2C54;
}

.collectionItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clothingImage a img{
    width: 20vw;
}

.aboutTitle{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.aboutTitle h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    margin: 0;
    color: #FF6F61;
    text-shadow: 2px 2px 5px #1b1b3a;
}

.aboutContainer{
    width: 85%;
    margin: auto;
}

.aboutText, .aboutImages, .aboutDesc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutText p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    color: #1b1b3a; 
}

.aboutDesc p{
    width: 30%;
    text-align: center;
}

.aboutImages img{
    width: 15vw;
    height: 40vh;
}