body{
    background-color: #DFC5FE;
    width: 100%;
    margin: auto;
}

header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    border-bottom: 2px solid #2C2C54;
}

.logoNav a img{
    height: 18vh;
}

.textNav{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.textNav a{
    text-decoration: none;
    font-size: 4vw;
    color: #2C2C54;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px #1b1b3a;
}

.accountNav{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #1b1b3a;
}

.accountNav a{
    text-decoration: none;
    color: inherit;
    text-shadow: 3px 3px 5px #1b1b3a;
}

.slideShow{
    width: 85%;
    margin: auto;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.slider img{
    width: 100%;
    display: none;
    height: 60vh;
}

img.displaySlide{
    display: flex;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}

.collection{
    width: 85%;
    margin: auto;
}

.subTitle{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPicks{
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FF6F61;
    text-shadow: 2px 2px 5px #1b1b3a;
    margin: 0;
}

#resizeShirt{
    width: 21vw;
}

#resizeHoodie{
  width: 30vw;
}

.borderBreak{
    border-bottom: 2px solid #2C2C54;
}

.collectionItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clothingImage a img{
    width: 20vw;
}

.aboutTitle{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.aboutTitle h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    margin: 0;
    color: #FF6F61;
    text-shadow: 2px 2px 5px #1b1b3a;
}

.aboutContainer{
    width: 85%;
    margin: auto;
}

.aboutText, .aboutImages, .aboutDesc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutText p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    color: #1b1b3a; 
}

.aboutDesc p{
    width: 30%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutImages img{
    width: 15vw;
    height: 40vh;
}

footer{
    width: 85%;
    margin: auto;
    background-color: #1b1b3a;
    height: 25vh;
}

.emailFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6F61;
}

.emailFooterText{
    padding-left:3%;
}

.emailFooterText p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.emailFooterBox{
    padding-right: 3%;
}
.emailFooterBox label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: larger;
}

.emailFooterBox button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #DFC5FE;
    font-size: larger;
}

@keyframes smooth-appear {
    to{
        top: 10%;
        opacity: 1;
    }
}

.emailBox{
    display: none;
    position: fixed;
    width: 30%;
    height: 60%;
    top: 0%;
    left: 35%;
    color: #1b1b3a;
    border: solid 3px #1b1b3a;
    background-color: #FF6F61;
    z-index: 10;
    opacity: 0;
    animation: smooth-appear 1s ease forwards;
    border-radius: 3%;
    flex-direction: column;
}

.emailBoxImage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.emailBoxImage i{
    font-size: 20vw;
    margin: 0;
}

.emailBoxText{
    display: flex;
    justify-content: center;
}

.emailBoxText p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 3vw;
}

.emailBoxButton{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.emailBoxClose{
    width: 30%;
    height: 200%;
    font-size: 1vw;
    background:none;
    border: solid 2px #1b1b3a;
    border-radius: 5%;
    color: #1b1b3a;
    font-weight: bold;
    cursor: pointer;
}

.emailBoxClose:hover{
    background-color: #1b1b3a;
    color: #FF6F61;
}

.mainFooter{
    display: flex;
    flex-direction: row;
}

.aboutDone{
    width: 40%;
    float: left;
    margin-right: 20%;
}

.donePara{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 3%;
    margin-top: 1%;
}

.donePara p{
    color: #FF6F61;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

