header{
    font-family: cursive;
    width: 85%;
    margin: auto;
}

header div{
    display: flex;
    justify-content: space-between;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    background-color: #DFC5FE;
    color: rgb(12, 53, 12);

}
.pants1{
    font-size: 40px;
    text-align: left;
}
.pants2{
    font-size: 40px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 70px; 
    object-fit: cover;
}
.grid2 {
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 70px;
    object-fit: cover;
}
.grid3 {
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 70px; 
    object-fit: cover;
}
img {
    border-radius: 20px;
    width: 100%;
    height: auto; 
    border: 1px solid #ccc; 
}