header{
    font-family: cursive;
    width: 85%;
    margin: auto;
}

header div{
    display: flex;
    justify-content: space-between;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    background-color: #DFC5FE;
    color: rgb(12, 53, 12);

}
.PantsHeader{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Images{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
}

.imageContainer img{
    border-radius: 12px;
    width: 99%;
    height: auto;
}

.infoContainer p{
    display: flex;
    justify-content: flex-start;
    margin:auto;
    font-size: x-large;
    margin-bottom: 3%;
}

.price{
    margin-top: 2%;
}