header{
    font-family: cursive;
    width: 85%;
    margin: auto;
}

header div{

    display: flex;
    justify-content: space-between;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    background-color: rgb(167, 112, 167);
    color: rgb(0, 255, 0);
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Padding between images */
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(0, 255, 0);
    transition: all ease-in-out 0.5s;
}
.grid img:hover{
    width: 85%;

}
img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional: add a border around images */
}