body{
    margin: auto;
    background-color: #DFC5FE;
    width: 100%;
}

header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    border-bottom: 2px solid #2C2C54;
}

.logoNav a img{
    height: 18vh;
}

.textNav{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.textNav a{
    text-decoration: none;
    font-size: 4vw;
    color: #2C2C54;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px #1b1b3a;
}

.accountNav{
display: flex;
justify-content: center;
gap: 40px;
color: #2C2C54;
}

.accountNav a{
    text-decoration: none;
    color: inherit;
    text-shadow: 3px 3px 5px #1b1b3a;
}

.mainContent{
    width: 85%;
    margin: auto;
    display: flex;
}

.imagesContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
}


.imagesContainer div img{
    width: 100%;
    height: auto;
}

.textContainer{
    width: 90%;
    padding-left:5% ;
}

.productTitle{
    
}

.productTitle h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    margin: 0;
    color: #2C2C54;
}

.price{
    display: flex;
    
}

.price h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    margin: 0;
    color: #FF6F61;
}

.sizeButtons{
    display: flex;
    gap: 10px;
}

.sizeButtons button{
    background: none;
    color:#1b1b3a;
    width: 20%;
    height: 5vh;
    border-color: #2C2C54;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    cursor: pointer;
}

/*Class List for a selected Button*/
.sizeButtons button.selected{
    background-color: #1b1b3a;
    color: #DFC5FE;
    border-color: #FF6F61;
}

.addtoCart{
    display: flex;
}

.addtoCart button{
    background: none;
    background-color: #FF6F61;
    color: #1b1b3a;
    width: 100%;
    height: 5vh;
    border-color: #1b1b3a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
}

.addtoCart button:hover{
    background-color: #1b1b3a;
    color: #FF6F61;
    cursor: pointer;
}

.productDescription{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1b1b3a;
    font-size: 1vw;
}